.PS {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  padding: 16px 32px;
}

.PS__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stamp-gallery {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  padding: 1rem;
}

@media screen and (max-width: 1023px) {
  .stamp-gallery {
  }
}
